In [56]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder,PolynomialFeatures,StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor
%matplotlib inline

In [57]:
df = pd.read_csv('Market_Basket.csv', header=None)

In [58]:
df.sample(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
1498,olive oil,extra dark chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2501,cake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
655,herb & pepper,ground beef,spaghetti,mineral water,chocolate,black tea,french wine,pancakes,rice,green tea,toothpaste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2850,grated cheese,mineral water,almonds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,tomatoes,almonds,cake,champagne,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2571,mineral water,energy bar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6133,spaghetti,mineral water,eggs,light cream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3982,escalope,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7390,champagne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1760,pickles,shrimp,milk,cake,french fries,brownies,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df.shape

(7501, 20)

In [60]:
transaction = []

for i in range(0, 7501):
    transaction.append([str(df.values[i, j]) for j in range(0, 20)])

In [61]:
transaction[:1]

[['shrimp',
  'almonds',
  'avocado',
  'vegetables mix',
  'green grapes',
  'whole weat flour',
  'yams',
  'cottage cheese',
  'energy drink',
  'tomato juice',
  'low fat yogurt',
  'green tea',
  'honey',
  'salad',
  'mineral water',
  'salmon',
  'antioxydant juice',
  'frozen smoothie',
  'spinach',
  'olive oil']]

In [62]:
from apyori import apriori
rules = apriori(transactions=transaction, min_support=0.003, min_confindence=0.2,min_lift=3,min_length=2,max_length=2 )

In [63]:
results = list(rules)

In [65]:
print(len(results))

12

In [69]:
def inspect(result):
    lhs = [tuple(result[2][0][0])[0] for result in result]
    rhs = [tuple(result[2][0][1])[0] for result in result]
    supports = [result[1] for result in result]
    confidence = [result[2][0][2] for result in result]
    lifts = [result[2][0][3] for result in result]
    return list(zip(lhs,rhs,supports,confidence,lifts))
resultindataframe = pd.DataFrame(inspect(results), columns = ['LHS', 'RHS', 'Support', 'Confidence', 'Lift'])

In [70]:
resultindataframe

              LHS                   RHS   Support  Confidence      Lift
0        brownies        cottage cheese  0.003466    0.102767  3.225330
1         chicken           light cream  0.004533    0.075556  4.843951
2        escalope  mushroom cream sauce  0.005733    0.072269  3.790833
3        escalope                 pasta  0.005866    0.073950  4.700812
4     fresh bread          tomato juice  0.004266    0.099071  3.259356
5      fresh tuna                 honey  0.003999    0.179641  3.785070
6   fromage blanc                 honey  0.003333    0.245098  5.164271
7     ground beef         herb & pepper  0.015998    0.162822  3.291994
8     ground beef          tomato sauce  0.005333    0.054274  3.840659
9     light cream             olive oil  0.003200    0.205128  3.114710
10      olive oil     whole wheat pasta  0.007999    0.121457  4.122410
11          pasta                shrimp  0.005066    0.322034  4.506672

In [67]:
def inspects(results):
    lhs = [tuple(result[2][0][0])[0] for result in results]
    rhs = [tuple(result[2][0][1])[0] for result in results]
    supports = [result[1] for result in results]
    confidence = [result[2][0][2] for result in results]
    lifts = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidence, lifts))


resultsindataframe = pd.DataFrame(inspects(results), columns=[
                                  'LHS', 'RHS', 'Support', 'Confidence', 'Lifts'])

In [ ]:
resultsindataframe

Empty DataFrame
Columns: [LHS, RHS, Support, Confidence, Lifts]
Index: []